/ExercíciosAulaJava/nbproject/private/
/ExercíciosAulaJava/build/
/Laço de Repetição/nbproject/private/
/Laço de Repetição/build/
/While/nbproject/private/
/While/build/
/Vetores/nbproject/private/
/Vetores/build/
/Teorias/JavaApplication3/nbproject/private/
/Teorias/JavaApplication3/build/
/Vacina/nbproject/private/
/Vacina/build/
/Conexao/nbproject/private/
/Conexao/src/conexao/ConectaBanco/build/
/Conexao/src/conexao/ConectaBanco/dist/
/Conexao/src/conexao/ConectaBanco/nbproject/private/
/Conexao/build/
# Ignorar arquivos compilados
*.class
*.jar

# Ignorar pastas de saída
/bin/
/out/
/build/

# Ignorar configurações de IDE
*.iml
.idea/
.vscode/
